// GENERAL PROJECT STYLES
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--cl-white);
  background-color: var(--cl-black);
}
.w-100 {
  width: 100%;
}
.accent {
  color: var(--cl-accent);
}
.main {
  flex-grow: 1;
  min-height: 100%;
  font-size: 18px;
  line-height: 1.65;
  max-width: 1980px;
  width: 100%;
}
.main-content {
  flex-grow: 1;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 32px;
  border-radius: var(--br-radius);
  white-space: nowrap;
  width: fit-content;
}

.btn-accent {
  color: var(--cl-grey);
  text-transform: uppercase;
  background-color: var(--cl-accent);
}

.btn-black {
  color: var(--cl-white);
  text-transform: uppercase;
  background-color: var(--cl-black);
}
.title {
  font-size: 35px;
}
.subtitle {
  color: var(--cl-accent-dark);
  margin-bottom: 20px;
  text-transform: uppercase;

}

// flex
.align-items-center {
  align-items: center;
}
.jc-between {
  justify-content: space-between;
}

// indents, paddings
.p-tb-70 {
  padding: 70px;
}

// icon
.comment-icon > svg {
  width: 18px;
  fill: var(--cl-grey);
}
.date-icon > svg {
  width: 14px;
  fill: var(--cl-grey);
}
.icon-local {
  width: 40px;
  fill: var(--cl-accent);
}
.icon-mail {
  width: 40px;
  fill: var(--cl-accent);
}
.icon-phone {
  width: 40px;
  fill: var(--cl-accent);
}
