* {
  --cl-black: #090c0f;
  --cl-dark: #0e1317;
  --cl-accent: #b99272;
  --cl-accent-dark: rgb(185, 146, 114);
  --cl-white: #ffffff;
  --cl-grey: rgba(255, 255, 255, 0.6);
  --cl-gold: #ff8a00;
  // #0E1317

  --br-radius: 5px;
  --btn-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  --price-border: 1px dashed #b99272;
}
